.home-page__link:hover {
    text-decoration: none;
}

.home-page__top-image-container {
    background-image: url("https://i.ibb.co/8xntqgb/Hero-Banner-Template-Reusables-Sale-8c7da083-67c2-4043-b6af-49ed3be027e8-2000x.jpg");
    width: 100%;
    height: calc(100vh - 70px);
}

.home-page__text {
    width: 100%;
    text-align: center;
    font-size: 3.6rem;
    font-family: "Calluna";
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.1;
    color: #FFFFFF;
    padding-top: 300px;
}

.home-page__shop-now {
    width: 100%;
    margin-bottom: -151px;
    text-align: center;
    font-size: 2rem;
    font-family: "Calluna";
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1rem;
    line-height: 1.1;
    color: #FFFFFF;
    text-decoration: underline;
}