.image-container__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: calc(100vh - 140px);
}

.home-page__link:hover {
    text-decoration: none;
}

/* technical debt - use sass or less to reuse this */
.home-page__text {
    position: relative;
    width: 100%;
    top: -310px;
    text-align: center;
    font-size: 3.6rem;
    font-family: "Calluna";
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.1;
    color: #FFFFFF;
}

.home-page__shop-now {
    position: relative;
    width: 100%;
    top: -250px;
    margin-bottom: -151px;
    text-align: center;
    font-size: 2rem;
    font-family: "Calluna";
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1rem;
    line-height: 1.1;
    color: #FFFFFF;
    text-decoration: underline;
}

.tide-text-container {
    padding-left: 90px;
    padding-right: 90px;
    position: relative;
    width: 100%;
    top: -290px;
    margin-bottom: -73px;
    font-family: "abril-titling",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    text-transform: capitalize;
    color: black;
}

.tide-text-container__text {
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.1;
}

.tide-text-container__text {
    font-size: 5rem;
}

.tide-text-container__title {
    font-weight: bold;
}