.image-container__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: calc(100vh - 140px);
}

.home-page__text {
    position: relative;
    width: 100%;
    top: -200px;
    text-align: center;
    font-size: 2rem;
    font-family: "Calluna";
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2.2rem;
    line-height: 1.1;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
}